# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# Data
data/raw/*
data/clean/*
data/backups/*

# Keep folder structure
!data/raw/.gitkeep
!data/clean/.gitkeep
!data/backups/.gitkeep

# Power BI
*.pbix.lock

# OS
.DS_Store
Thumbs.db